body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;

    &__top {
        background-color: #000;
        height: 46px;
    }

    &__list {
        margin: 0;
        display: block;
        list-style: none;
        padding: 0;
    }

    &__item-down,
    &__link {
        color: #fff;
        float: left;
        padding: 14px 24px 14px 24px;
        display: block;
        position: relative;
        text-decoration: none;
    }

    &__item-down:hover,
    &__link:hover {
        background-color: #ccc;
        color: #000;
    }

    &__item-down:hover>.navheader__list {
        display: block;
    }

    .navheader {

        &__list {
            display: none;
            position: absolute;
            background-color: #fff;
            left: 0;
            padding: 0;
            width: 160px;
            top: 46px;
            box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.5);
        }

        &__item,
        &__link {
            list-style: none;
            padding: 10px 0 10px 7px;
            color: #000;
            text-decoration: none;
        }

        &__link:hover,
        &__item:hover {
            background-color: #ccc;
        }


    }

    .header__search {
        color: #fff;
        clear: both;

        &-icon {
            position: absolute;
            right: 0;
            top: -8px;
            padding: 25px 22px 13px 23px;
            font-size: 16px;
        }

        &-icon:hover {
            background-color: red;
            cursor: pointer;
        }
    }

}

#img__slider {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 46px;
    padding-top: 50%;
    background: url(./img/la.jpg) no-repeat;
    background-size: 100%;
}

.img {
    &__text {
        color: #fff;
        display: block;
        position: absolute;
        bottom: 0px;
        padding-bottom: 47px;
        text-align: center;
        width: 100%;

        &-h3 {
            font-size: 30px;
            font-weight: 300;

        }
    }
}

.about {
    position: relative;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px 64px 16px;


    &__title {
        font-size: 32px;
        letter-spacing: 4px;
        font-weight: 400;
        text-align: center;
        margin: 10px 0;
    }

    &__sub {
        display: inline-block;
        font-weight: 300;
        text-align: center;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    &__desc {
        text-align: justify;
        margin-top: 10px;
    }

    .section__info {
        display: flex;
    }

    .info {
        float: left;
        padding: 32px 0;
        text-align: center;
        width: 33.333%;


        &__tilte {
            text-align: center;
            margin: 15px 0;
        }

        &__img {
            width: 60.333%;
            align-items: center;
            border-radius: 4px;
        }
    }


}